.how-we-work {
    padding: 120px 20px;
    background-color: #011404;
    color: white;

    max-width: 1200px;
    margin: auto;
}

.hww-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.hww-subtitle {
    font-size: 1.1rem;
    margin-bottom: 68px;
    max-width: 500px;
    margin-right: auto;
    color: #fff;
}

.hww-steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin-top: 20px;
    /* text-align: center; */
}

.hww-step {
    background: #ffffff13;
    padding: 24px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    border: 1px solid #ffffff21;
}

.hww-step:hover {
    transform: translateY(-6px);
    border-color: #ffd000;
}

.hww-icon {
    font-size: 2rem;
    margin-bottom: 32px;
    color: #ffd000;
}

.hww-step h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #ffffff;
}

.hww-step p {
    font-size: 0.95rem;
    color: #fff;
    line-height: 1.6;
}